<a href="https://colab.research.google.com/github/NikAnKireev/Course_on_Python/blob/main/Final_work_pithon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задание:
> В ячейке ниже представлен код генерирующий **DataFrame**, которая состоит всего из 1 столбца. Наша задача перевести его в **one hot** вид и сделать без **get_dummies**.

```
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
```

data.head()

#### Подгружаем необходимые библиотеки.

In [2]:
# Библиотека для работы с табличными данными
import pandas as pd
# Библиотека для вычислений линейной алгебры
import numpy as np
# Библиотеки для рандомных значений
import random

#### Создаем колонку **'whoAmI'**, в которой будут рандомно генерироваться значения **'robot'** и **'human'**.

In [8]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  human
3  human
4  human

####Переводим **'DataFrame'** в **'One hot'** без функции **'get_dummies'**. 


> Создаем дополнительно две колонки **'human'** и **'robot'**. Где будут совпадения по названиям выводится **'1'**, иначе **'0'**.

In [12]:
data['robot'] = np.where(data['whoAmI'] == 'robot', '1', '0')
data['human'] = np.where(data['whoAmI'] == 'human', '1', '0')
data

   whoAmI robot human
0   robot     1     0
1   robot     1     0
2   human     0     1
3   human     0     1
4   human     0     1
5   robot     1     0
6   robot     1     0
7   robot     1     0
8   human     0     1
9   human     0     1
10  human     0     1
11  robot     1     0
12  robot     1     0
13  human     0     1
14  human     0     1
15  robot     1     0
16  human     0     1
17  robot     1     0
18  human     0     1
19  robot     1     0

#Заключение:

> Задача по переводу **'DataFrame'** в **'one hot'** вид без функции **'get_dummies'** успешно выполнена.